EmployeeManagementService/EMSFixtures/Service References/EmployeeManagementServiceReference/EmployeeManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeManagementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeRemark" nillable="true" type="tns:ArrayOfRemark" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetails" nillable="true" type="tns:EmployeeDetails" />
  <xs:complexType name="ArrayOfRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Remark" nillable="true" type="tns:Remark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemark" nillable="true" type="tns:ArrayOfRemark" />
  <xs:complexType name="Remark">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Remark" nillable="true" type="tns:Remark" />
  <xs:complexType name="ArrayOfEmployeeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDetails" nillable="true" type="tns:EmployeeDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDetails" nillable="true" type="tns:ArrayOfEmployeeDetails" />
</xs:schema>